* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

table{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    border-radius: 0.5rem;
    margin: 10px 0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td, th {
    padding: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #3398a5;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #2c6a6f;
}

button.delete {
    background-color: #d9534f;
}

button.delete:hover {
    background-color: #c9302c;
}