{% extends "_base.html" %}

{% block content %}
  <h1>Lista de Departamentos</h1>
  <table>
    {% for depto in deptos %}
    <tr>
      <td>{{ depto.nome }}</td>
      <td>
        <a href="{% url 'depto:details' depto.id %}">
          <button>Detalhes</button>
        </a>
      </td>
      <td>
        <a href="{% url 'depto:update' depto.id %}">
          <button>Atualizar</button>
        </a>
      </td>
      <td>
        <a href="{% url 'depto:delete' depto.id %}">
          <button class="delete">Deletar</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div>
    <a href="{% url 'depto:create' %}">
      <button class="create btn-icon-split">Criar</button>
    </a>
  </div>
{% endblock content %}